@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
  }

body {
    display: flex;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(103,98,121,1)), url('/source/peta.jpg');
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    height: 100vh;
  }


  .container {
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 80vw;
    max-width: 100%;
    min-height: 80vh;
    box-shadow: 0px 0px 3rem 2rem rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3rem 2rem rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3rem 2rem rgba(0,0,0,0.5);
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    padding: 2.5rem;
    background-color: #2B2738;
    color: #fff;
    display: flex;
    flex-direction: column;
  }

  .login-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .login-container h2{
    align-self: flex-start;
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 2.5rem;
    margin-bottom: 0rem;
  }
  .register-container h2 {
    align-self: flex-start;
    font-size: 3.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .register-container{
    padding-right: 5rem;
    padding-left: 3rem;
  }

  .login-container p,
  .register-container p {
    align-self: flex-start;
    margin-bottom: 1.5rem;
    margin-left: 0.25rem;
    font-weight: 200;
}
.login-container label {
  align-self: flex-start;
    margin-bottom: 1.5rem;
    margin-left: 0.25rem;
    font-weight: 200;
}
  .login-container input[type="email"],
  .login-container input[type="password"],
  .login-container input[type="text"],
  .register-container input[type="email"],
  .register-container input[type="text"],
  .register-container input[type="password"]{
    font-size: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    background-color: #413f50;
    border: 1px solid #413f50;
    border-radius: 0.5rem;
    color: #fff;
    height: 4rem;
    width: 100%;
}



.input-group {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.input-group input {
    flex: 1;
    min-width: 0;


}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus,
.register-container input[type="email"]:focus,
.register-container input[type="text"]:focus,
.register-container input[type="password"]:focus{
    outline: none;
    border: 1px solid #9e8cf3;
}

.login-container input[type="email"]::placeholder,
.login-container input[type="password"]::placeholder,
.register-container input[type="email"]::placeholder,
.register-container input[type="text"]::placeholder,
.register-container input[type="password"]::placeholder {
    color: #b0b0b0; /* Warna abu-abu untuk placeholder */
    font-size: 1.1rem; /* Ukuran font placeholder */
    opacity: 0.7; /* Memastikan placeholder tetap terlihat jelas */
    text-align: justify;
}

.login-container input[type="email"]:focus::placeholder,
.login-container input[type="password"]:focus::placeholder,
.register-container input[type="email"]:focus::placeholder,
.register-container input[type="password"]:focus::placeholder,
.register-container input[type="text"]:focus::placeholder{
    color: #9e8cf3; /* Warna placeholder saat input difokuskan */
    font-style: normal; /* Kembali ke normal saat fokus */
}
.login-container a,
.register-container a {
    font-style: italic;
    color: #9e8cf3;
    text-decoration: none;
}

.login-container a:hover,
.register-container a:hover{
    text-decoration: underline;
}

.login-container .terms,
.register-container .terms {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.login-container .forget{
  margin-left: 27rem;
}

.login-container [type="submit"],
.register-container [type="submit"] {
  width: 100%;
  padding: 0.75rem;
  background-color: #9e8cf3;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.3rem;
  height: 4rem;

}





.login-container .register-container button[type="submit"]:hover {
  background-color: #8a75e2;
}

.divider {
  display: flex;
  align-items: center;
  margin: 15px 0;
  color: #888;
  text-align: center;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #888;
}

.login-container .divider:not(:empty)::before {
  margin-right: 10px;
}

.login-container .divider:not(:empty)::after {
  margin-left: 10px;
}


.google-login {
  width: 100%;
  padding: 0.75rem;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #888;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  height: 4rem;

}

.google-login:hover {
  background-color: #e0e0e0;
}

.google-login img {
  width: 2rem;
  height: 2rem;
}


  .register-container {
    left: 50%;
    width: 50%;
    z-index: 1;

  }

  .container.right-panel-active .register-container {
    opacity: 1;
    z-index: 5;
  }

  .input-password-group {
    position: relative; /* Buat kontainer ini sebagai referensi posisi untuk ikon */
    width: 100%; /* Pastikan lebar sama dengan input */
}

  .input-password-group input[type="password"] {
    width: 100%; /* Memastikan input password memenuhi kontainer */
    padding-right: 2.5rem; /* Beri ruang untuk ikon mata di sisi kanan */
}
  .eye-icon {
    position: absolute;
    top: 41%;
    right: 2.5rem; /* Jarak dari sisi kanan input */
    transform: translateY(-50%);
    width: 2rem; /* Ukuran ikon mata */
    height: 2rem;
    cursor: pointer; /* Ubah kursor menjadi pointer saat di-hover */
    opacity: 0.5; /* Sedikit transparan agar tidak terlalu mencolok */
}

.eye-icon:hover {
    opacity: 1; /* Ikon menjadi lebih jelas saat di-hover */
}

.login-container .eye-icon {
  right: 0.8rem;
}


  .overlay-container {
    position: absolute;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .container.right-panel-active .overlay-container {
    transform: translate(-150%);

  }

  .overlay {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative; /* Membuat posisi relatif untuk gradien */
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Menempatkan gradien di atas gambar */
    pointer-events: none; /* Membuat gradien tidak menghalangi interaksi */
    border-radius: inherit;
    background: linear-gradient(270deg, rgba(43,39,56,1) 0%, rgba(66,60,86,0.71) 39%, rgba(84,76,109,0.48) 66%, rgba(103,98,121,0) 100%);
  }


  .container.right-panel-active .overlay::before {
    background: linear-gradient(270deg, rgba(43,39,56,1) 0%, rgba(66,60,86,0.71) 39%, rgba(84,76,109,0.48) 66%, rgba(103,98,121,0) 100%);

}



  .responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mengisi area tanpa mengubah rasio gambar */
    position: relative; /* Memastikan gambar berada di bawah gradien */
    z-index: 0; /* Menempatkan gambar di bawah gradien */
}
  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-left {
    transform: translateX(-20%);


  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }

.logo{
  position: absolute;
  width: 10rem;
  height: auto;
  margin-left: 31.5rem;
  margin-top: -1rem;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

 /* Modal Container */
.modal {
    display: none; /* Modal tidak tampil secara default */
    position: fixed;
    z-index: 120;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);
  }

  /* Modal Content */
  .modal-content {
    background-color: #E8E0FF;
    margin: 15% auto;
    padding: 20px;
    margin-top: 7.5vw;
    overflow-y: auto; /* Scroll hanya vertikal */
    font-size: 2em;
    padding-bottom: 5rem; /* Memberi gap di bawah konten *//* Latar belakang semi-transparan */
    width: 60vw;
    height: 35vw;
    border-radius: 10px;
    box-shadow: 0px 4px 250px 55px rgba(110,84,181,1);
  -webkit-box-shadow: 0px 4px 250px 55px rgba(110,84,181,1);
  -moz-box-shadow: 0px 4px 250px 55px rgba(110,84,181,1);

  }
  .modal-content h2{
    margin-left: 2rem;
    font-weight: 600;
  }
  .modal-content p{
    margin-left: 2.2rem;
    text-align: justify;
    margin-top: -1.5rem;
    margin-right: 4rem;

  }
  .close {
    color: #000000;
    position: absolute;
    top: 10.4rem; /* Posisi atas */
    right: 26.4rem; /* Posisi kanan */
    font-size: 6rem; /* Ukuran font */
    font-weight: 300;
    background-color: #8a75e2;
    justify-content: center;
    height: 4rem; /* Tinggi tombol */
    width: 4rem; /* Lebar tombol, buat sama dengan tinggi */
    border-radius: 50%; /* Membuat background menjadi lingkaran */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 4px 44px 8px rgba(8,7,8,1);
  -webkit-box-shadow: 0px 4px 44px 8px rgba(8,7,8,1);
  -moz-box-shadow: 0px 4px 44px 8px rgba(8,7,8,1);
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .setuju-btn {
    display: block;
    margin: 2rem auto 0 auto;
    padding: 1rem 2rem;
    background-color: #8a75e2;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 2rem;
    border-color: #000000;
    width: 16rem;
    border-radius: 4rem;
    cursor: pointer;
    box-shadow: 0px 4px 44px 8px rgba(8,7,8,1);
  -webkit-box-shadow: 0px 4px 44px 8px rgba(8,7,8,1);
  -moz-box-shadow: 0px 4px 44px 8px rgba(8,7,8,1);
  }

  .setuju-btn:hover {
    background-color: #7059b7;
  }

  .modal-content::-webkit-scrollbar {

    width: 20px; /* Lebar scrollbar */

  }

  .modal-content::-webkit-scrollbar-track {
    background: transparent; /* Warna latar belakang scrollbar */
    border-radius: 10px;

  }

  .modal-content::-webkit-scrollbar-thumb {
    background-color: #6E54B5; /* Warna thumb */
    border-radius: 10px;
    border: 3px solid #E8E0FF; /* Border di sekitar thumb */
  }

  .modal-content::-webkit-scrollbar-thumb:hover {
    background-color: #503895; /* Warna saat di-hover */
  }
